.Nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:30px;
    /* border-bottom:2px solid black; */
    width:90%;
    max-width: 1160px;
    margin:0 auto;
    box-sizing: border-box;
}   
a{
    text-decoration: none;
    color:black;
}
#navbar{
    display: flex;
    align-items: center;
}
#about{
    margin-left: 70px;
    cursor:pointer;
}
#logo{
    letter-spacing: 4px;
    font-weight: bold;
    cursor:pointer;
    font-size: 20px;
}
#add-new{
    display: flex;
    align-items: center;   
    cursor:pointer;
}
#add-new:hover span{
    background:black;
    color:white;
}
#add-new span{
    display: inline-block;
    padding:10px 13px 7px;
    font-size: 20px;   
    border:2px solid black;
    transition:0.2s;
}
#add-new p{
    display:inline-block;
    margin-left:15px;
}