.Recipe{
    padding:20px;
    width:31%;
    margin:0 1% 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 500px;
    justify-content: space-between;
    border:1px solid lightgray;
}
.Recipe:hover .del{
    opacity: 1;
}
.line{
    width:70px;
    height:4px;
    background:black;
    margin-bottom: 30px;
}
.del{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:86%;
    font-size: 16px;
    width:40px;
    height:40px;
    border:2px solid black;
    opacity:0;
    transition:0.7s;
}

h1{
    font-weight: normal;
    letter-spacing: 2px;
    margin-top: 30px;
}
.img-field{
    height:300px;
    overflow: hidden;
    cursor: pointer;
}
img{
    width:100%;
}
